:root {
    --margin: 2rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.album-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: var(--margin);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

.album-page .album {
    position: relative;
    font-weight: 300;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.album-page .album-cover {
    padding-bottom: 1rem;
}

.album-page .album-cover img {
    max-height: 46vh;
    object-fit: contain;
}

.album-page .album-name {
    font-weight: 400;
}

.album-page .album-artists, .album-page .album-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.album-page .remove {
    margin-bottom: calc(var(--margin) / 2);
}

.album-page button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #a5a5a5;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-color: #ececec;
    user-select: none;
}

.album-page .keep-album {
    border: none;
    background-color: inherit;
    font-weight: 300;
}

.album-page button:focus {
    outline: none;
}

.album-page button:active {
    background-color: #dedede;
}

.album-page .action-bar {
    font-weight: 300;
}