body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.album-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    text-align: center;
}

.album-page .top {
    padding-top: 2rem;
    font-weight: 300;
}

.album-page .album-cover {
    padding-bottom: 1rem;
}

.album-page .album-cover img {
    max-height: 46vh;
    object-fit: contain;
}

.album-page .album-name {
    font-weight: 400;
}

.album-page .artists, .album-page .album-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.album-page .remove {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.album-page button {
    font-size: inherit;
    border: 1px solid #a5a5a5;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-weight: 300;
    background-color: #ececec;
    user-select: none;
}

.album-page button:focus {
    outline: none;
}

.album-page button:active {
    background-color: #dedede;
}

.album-page .action-bar {
    font-weight: 300;
}