.confirmation-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: calc(2 * var(--margin)) var(--margin) var(--margin);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirmation-page .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-page .move-button {
    margin-bottom: calc(var(--margin) / 2);
}

.confirmation-page .cancel-button {
    border: none;
    background-color: inherit;
    font-weight: 300;
}

.confirmation-page .explanation {
    font-weight: 300;
}