.main-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: start;

    font-size: 20px;
}

.top {
    padding-top: 2rem;
    font-weight: 300;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.main-page button.logout-button {
    border: 0;
    padding: 0;
    background-color: inherit;
}

.album-count, .track-count {
    font-weight: 400;
}

.main-page .remaining {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    flex-grow: 1;
}

.main-page .remaining-items {
    font-size: 400%;
    font-weight: 300;
}

.main-page .remaining-label {
    font-weight: 300;
}

.main-page .bottom {
    text-align: center;
    font-weight: 300;
}

.main-page button {
    font-size: inherit;
    border: 1px solid #a5a5a5;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.main-page .explanation {
    margin-top: calc(var(--margin) / 2);
    padding: .5rem 1rem;
}